.cityChartsTitle{
    background-size: cover;
    background-image:url('../img/kuang.png');
}
.cityChartsTitle span{
    line-height: 30px;
    font-size: 16px;
    padding-left:10px;
    font-weight: bold;
    color:white;
    letter-spacing: 0.1em;
    text-shadow: 0px 3px 2px #000;
}
#cityChartsChange span{
    font-size: 14px;
    color:black;
    background-color:rgb(13,86,126);
    border:1px solid rgb(13,86,126);
    border-radius: 15px;
    line-height: 30px;
    padding:2px 10px;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-left:5%;
}
#cityChartsChange span.selected,#cityChartsChange span:hover{
    color:rgb(94,189,255);
    border:1px solid rgb(94,189,255);
    background-color:rgb(17,106,148);
}